[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
thoth-common = "*"
openshift = {git = "https://github.com/openshift/openshift-restclient-python.git"}
kubernetes = "*"
daiquiri = "*"

[dev-packages]

[requires]
python_version = "3.6"
